*{

  margin: 0;

  padding: 0;

  box-sizing: border-box;

  text-decoration: none;

  }

#main {
  background-color: #BDB76B;
  height: 100vh;
  width: 100vw;
}
#heading_main {
  display: flex;
  justify-content: center;
}
.introduction {
  display: flex;
  justify-content: center;
  padding: 0 20px 0 20px;
  font-size:xx-large;
  margin: 1rem 0 1rem 0;
}
.profile-pic {
  height: 500px;
  width: 300px;
}
.image-container {
  display: flex;
  justify-content: center;
}
.hobbies-pic {
  height: 500px;
  width: 700px;
}
.hobbies-pic-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}
.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin: 2rem 0; */
}
.menu-text {
  /* align-items: center; */
  text-align: center;
}