*{

  margin: 0;

  padding: 0;

  box-sizing: border-box;

  text-decoration: none;

  }

  /* /* html { */
    /* background-image: linear-gradient(blue, green, pink); */
     /* background-image: url(../src/images/newbackground.png); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
  /* }  */
  html {
    height: 100%;
  }
  body {
    /* background-image: url(/newbackground.png); */
    background-image: url(/darkbackground.png);
    background-size: cover;
    height: 100%;
  }

#main {
  /* background-image: linear-gradient(blue, green, pink); */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  /* background-color: #BDB76B; */
  /* background-image: url(/newbackground.png); */
  /* background-image: linear-gradient(blue, green, pink); */
  /* background-size: 100%;
  height: 180vh;
  /* height: auto; */
  /* width: 100vw; */
  /* height: 100%;
  width: auto; */
  height: inherit;
}
#heading_main {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  align-items: flex-start;
  margin-left: 30%;
}
#welcome {
  color: white;
  font-size: 72px;
  font-family: 'Courgette', cursive;

  margin: 3rem 0 6rem 0;
}
.introduction {
  display: flex;
  justify-content: center;
  padding: 0 20px 0 20px;
  font-size:xx-large;
  margin: 1rem 0 1rem 0;
}
.profile-pic {
  height: 500px;
  width: 300px;
}
.menu-sidebar{
  float: left;
  border-right-style: solid;
  border-right-width: 10px;
  border-image: linear-gradient(45deg, #98C327, #ED6E36, #7C0B95)1;
  height: 100vh;
}

.image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 8rem;

}

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 100%;

}
.menu-text {
  position: fixed;
}

.resume {
  display: flex;
  justify-content: center;
  height: 140vh;
  width: 80vw;
  /* margin: 0 1rem 3rem 6rem; */
}

.resume-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left-style: solid;
  border-left-width: 10px;
  border-image: linear-gradient(45deg, #ED6E36, #7C0B95)1;
  /* justify-content: center; */
  /* margin: 3rem 1rem 3rem 3rem; */
}

.page-header {
  display: flex;
  justify-content: center;
  /* border: 5px dotted blue; */
  border-style: dotted;
  border-width: 5px;
  border-image: linear-gradient(45deg, #BBDE2D, green)1;
  font-family: 'Monoton', sans-serif;  font-size: 72px;
  color:white;
  width: 90%;
  padding: 2rem 0;
  margin: 3rem 1rem 3rem 1rem;
  /* width: 50%; */
  /* margin-top: 3rem; */
}
.menu-sidebar-p {
  float: left;
  /* border-right-style: solid;
  border-right-width: 10px;
  border-image: linear-gradient(45deg, #98C327, #ED6E36, #7C0B95)1; */
  height: 100vh;
}

.about_me_information {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 30%; */
}

.about-me-paper {
  width: 60%;
  margin-bottom: 1.5rem;
  padding: 1rem 1.5rem;
}
#heading-aboutme {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  align-items: center;
}
.icons {
  /* display: flex;
  justify-content: space-between; */
  margin: 5rem 0 0 13rem;
}



