*{

  margin: 0;

  padding: 0;

  box-sizing: border-box;

  text-decoration: none;

  }

  /* html {
    /* background-image: linear-gradient(blue, green, pink); */
     /* background-image: url(../src/images/newbackground.png); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
  /* }  */

#main {
  /* background-image: linear-gradient(blue, green, pink); */
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: #BDB76B; */
  background-image: url(/newbackground.png);
  /* background-image: linear-gradient(blue, green, pink); */
  /* background-size: 100%;
  height: 180vh;
  /* height: auto; */
  /* width: 100vw; */
  height: 100%;
  width: auto;
}
#heading_main {
  display: flex;
  justify-content: center;
}
.introduction {
  display: flex;
  justify-content: center;
  padding: 0 20px 0 20px;
  font-size:xx-large;
  margin: 1rem 0 1rem 0;
}
.profile-pic {
  height: 500px;
  width: 300px;
}
.menu-sidebar{
  display: flex;
  float: left;
  height: 100%;
  border-right: 2px solid red;
}
/* .image-container {
  display: flex;
  justify-content: center;
} */
/* .hobbies-pic {
  height: 500px;
  width: 700px;
}
.hobbies-pic-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
} */
.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  /* margin: 2rem 0; */
}
.menu-text {
  /* align-items: center; */
  text-align: center;
}

.resume {
  height: 140vh;
  width: 100vw;
  margin: 0 1rem 3rem 6rem;
}

.resume-block {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* margin: 3rem 1rem 3rem 3rem; */
}

.portfolio-header {
  display: flex;
  justify-content: center;
  border: 5px dotted blue;
  font-family: 'Monoton', sans-serif;  font-size: 72px;
  /* width: 90%; */
  padding: 2rem 0;
  margin: 3rem 1rem 3rem 1rem;
  /* margin-top: 3rem; */
}